<header>
    <div class="header-content">
        <h2>Safari Trabzon</h2>
        <p>Customer: <%= quotation.customer %></p>
        <p>Email: <%= quotation.email %></p>
        <p>Phone: <%= quotation.phone %></p>
    </div>
    <div>
        <img src=<%= quotation.logo %>  width="100px">
        <p>Quote No: <%= quotation.Quote_No %></p>
        <p>Grand Total: <%= quotation.Grand_Total %></p>
        <p>No of Travelers: <%= quotation.No_of_Travelers %></p>
    </div>
</header>
