<body style="color: #333; font-family: Arial, sans-serif; padding: 20px;">
    <h2 style="color: #2ecc71;">Accommodation Services</h2>
    <table style="width: 80%; border-collapse: collapse; margin-bottom: 20px; border: 1px solid #ccc;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="text-align: left;">Accommodation</th>
                <th style="text-align: left;">Date</th>
                <th style="text-align: left;">Price</th>
            </tr>
        </thead>
        <tbody>
            <% accommodation.forEach(service => { %>
                <tr>
                    <td><%= service.Name %></td>
                    <td><%= service.Date %></td>
                    <td><%= service.Price %></td>

                </tr>
            <% }); %>
        </tbody>
    </table>

    <h2 style="color: #2ecc71;">Flight Services</h2>
    <table style="width: 80%; border-collapse: collapse; margin-bottom: 20px; border: 1px solid #ccc;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="text-align: left;">Flight</th>
                <th style="text-align: left;">Date</th>
                <th style="text-align: left;">Price</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(service => { %>
                <tr>
                    <td><%= service.Name %></td>
                    <td><%= service.Date %></td>
                    <td><%= service.Price %></td>

                </tr>
            <% }); %>
        </tbody>
    </table>

    <h2 style="color: #2ecc71;">Transportation Services</h2>
    <table style="width: 80%; border-collapse: collapse; margin-bottom: 20px; border: 1px solid #ccc;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="text-align: left;">Transportation</th>
                <th style="text-align: left;">Date</th>
                <th style="text-align: left;">Price</th>
            </tr>
        </thead>
        <tbody>
            <% transportation.forEach(service => { %>
                <tr>
                    <td><%= service.Name %></td>
                    <td><%= service.Date %></td>
                    <td><%= service.Price %></td>

                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
